<div>


    <app-header></app-header>

    <section>


    </section>

    <section class="page-section" id="services">
        <div class="container-fluid">
            <div class="row justify-content-center ">
                <div class="col-lg-12 offset-md-8">

                    <h3 animateOnScroll animationName="animated" class="text-muted hide-on-init ">We offers</h3>
                </div>
            </div>
            <div class="row text-center mt-50">

                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-eye   fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading hide-on-init" animateOnScroll animationName="animated fadeIn">
                        e-Surveillance</h4>
                    <!-- <div class="text-muted">

                    <h4>National Council for vocational Training(NCVT) certified</h4>
                    <h3>Mechanic motor vehicle(MMV)</h3>

                </div> -->
                </div>
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">

                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading hide-on-init" animateOnScroll animationName="animated fadeIn">Enterprise
                        Privacy</h4>
                    <!-- <div class="text-muted">

                    <h4 class="post1">Automobile</h4>
                    <h4 class="post1">Eletrical</h4>
                    <h4 class="post1">Refrigeration and Air-conditioning</h4>
                </div> -->
                </div>
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-heartbeat   fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading hide-on-init" animateOnScroll animationName="animated fadeIn">Hospital
                        Management</h4>
                    <!-- <div class="text-muted">
                    <h4>Two Wheeler/Three Wheeler</h4>
                    <h4>Light Motor Vehicle (LMV)</h4>
                    <h4>Heavy Motor Vehicle (HMV)</h4>
                    <h4>Badge</h4>
                </div> -->
                </div>
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book   fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading hide-on-init" animateOnScroll animationName="animated fadeIn">Knowledge
                        Management</h4>
                    <!-- <div class="text-muted">
                    <h4>Two Wheeler/Three Wheeler</h4>
                    <h4>Light Motor Vehicle (LMV)</h4>
                    <h4>Heavy Motor Vehicle (HMV)</h4>
                    <h4>Badge</h4>
                </div> -->
                </div>
                <div class="col-md-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-graduation-cap  fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading hide-on-init" animateOnScroll animationName="animated fadeIn">Student
                        Management</h4>
                    <!-- <div class="text-muted">
                    <h4>Two Wheeler/Three Wheeler</h4>
                    <h4>Light Motor Vehicle (LMV)</h4>
                    <h4>Heavy Motor Vehicle (HMV)</h4>
                    <h4>Badge</h4>
                </div> -->
                </div>
            </div>
        </div>
    </section>

    <!-- <div class="container mt-50">
    <div class="row justify-content-center ">
        <div class="col-lg-12 offset-md-8">

            <h3 class="text-muted">Us</h3>
        </div>
    </div>
</div> -->
    <!-- services on short note -->
    <section class="about-section text-center" id="about">
        <div class="container">

            <!-- <img class="img-fluid"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTDkJ3D49mZhZ2ycxj842LuhPhxSLqEOw3Ncw&usqp=CAU"
            alt="" /> -->
            <div class="row justify-content-center">
                <div class="col-lg-6 mx-auto brightness">
                    <img class="img-fluid"
                        src="https://15xomi2v386wytrb8nbsoq34-wpengine.netdna-ssl.com/wp-content/uploads/2017/03/right-place-660x400.jpg"
                        alt="" />

                </div>

                <div class="col-lg-6 mx-auto">
                    <!-- <h2 class="text-white mb-4">Zachs</h2> -->
                    <p class="text-black-50 hide-on-init" animateOnScroll animationName="animated slideDown"
                        offset="10">
                        Zachs is a different kind of company, approaching assignments through a unique holistic and
                        systems
                        approach to problem solving. With its strong focus on post implementation support and
                        localisation
                        of technologies.

                    </p>
                    <p class="text-black-50 hide-on-init" animateOnScroll animationName="animated slideDown"
                        offset="10">
                        Zachs, through it’s Principals, provides services to Financial Institutions, Education
                        Institutes,
                        Armed Forces, Education Institutions, Hospitals, Governments and Manufacturing Companies.

                        <!-- Zachs set out itself to be leading technology enabler in providing international technologies &
                    products with in-country post implementation & maintenance support. This company has been promoted
                    by a few technocrats who are leaders in their respective fields. The company’s strategy is to expose
                    the target market to matured and innovative technologies, which would otherwise by-pass these
                    geographies due to the lack of economies of scale. -->
                    </p>
                </div>
            </div>
        </div>

    </section>
    <section>
        <div class="container justify-content-center mx-auto">

            <p class="text-black-50 text-center hide-on-init" animateOnScroll animationName="animated fadeIn">
                Zachs set out itself to be leading technology enabler in providing international technologies &
                products with in-country post implementation & maintenance support.
            </p>
            <p class="text-black-50 text-center hide-on-init" animateOnScroll animationName="animated fadeIn">
                This company has been promoted
                by a few technocrats who are leaders in their respective fields.
            </p>
            <p class="text-black-50 text-center hide-on-init" animateOnScroll animationName="animated fadeIn">
                The company’s strategy is to expose
                the target market to matured and innovative technologies, which would otherwise by-pass these
                geographies due to the lack of economies of scale.
            </p>

        </div>

    </section>

    <!-- Projects-->
    <section class="projects-section bg-light" id="projects">
        <div class="container">
            <!-- Featured Project Row-->
            <div class="row align-items-center no-gutters mb-4 mb-lg-5 mt-100 hide-on-init" animateOnScroll
                animationName="animated fadeIn">
                <div class="col-xl-8 col-lg-7 brightness "><img class="img-fluid mb-3 mb-lg-0"
                        src="https://www.geotran.in/x/cdn/?https://images.unsplash.com/photo-1525167753025-08f17bdddb7f?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&s=ffed7b881b203763ad4456f0ffba2f3a&w=400"
                        alt="" /></div>
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <h4>Shoreline</h4>
                        <p class="text-black-50 mb-0">The mission of Zachs is “Enabling the adoption of Best Global
                            Technologies by localisation in content, customisation, implementation and maintenance.”
                            This
                            will provide customers of Zachs’ with Quality International Products and Services locally.
                        </p>
                    </div>
                </div>
            </div>
            <!-- Project One Row-->
            <div class="row justify-content-center no-gutters mb-5 mb-lg-0 mt-100 small-rev hide-on-init"
                animateOnScroll animationName="animated fadeIn">

                <div class="col-lg-6">
                    <div class="text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left hide-on-init"
                                animateOnScroll animationName="animated fadeIn">
                                <h5 class="text-black-50">With this objective in mind, Zachs has already put in place
                                    the
                                    following relationships:</h5>
                                <h3>e-Surveillance</h3>

                                <p class="mb-0 text-black-50 hide-on-init" animateOnScroll
                                    animationName="animated fadeIn">IoT and SaaS enabled Managed Security Services. It
                                    covers
                                    electronic surveillance, Energy & Asset efficiency, Productivity and Operation &
                                    Maintenance</p>

                                <hr class="d-none d-lg-block mb-0 ml-0" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6  "><img class="img-fluid"
                        src="https://www.digifloor.com/wp-content/uploads/2017/05/advanced-video-solutions.png"
                        alt="" />
                </div>
            </div>
            <!-- Project Two Row-->
            <div class="row justify-content-center no-gutters">



                <div class="col-lg-6  "><img class="img-fluid hide-on-init" animateOnScroll
                        animationName="animated fadeIn"
                        src="https://cdnblog.getfilecloud.com/blog/wp-content/uploads/2018/04/cropped.jpg" alt="" />
                </div>

                <div class="col-lg-6 text-lg-right">
                    <div class=" text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right hide-on-init"
                                animateOnScroll animationName="animated fadeIn">
                                <h4>Enterprise Privacy:</h4>
                                <p class="mb-0 text-black-50">
                                    Black Phone, used by UK special forces ( SAS & SRR ), their pedigree warrants the
                                    need
                                    for secure communications. Silent Circle is working and developing disruptive
                                    technologies with peer to peer encryption.
                                </p>
                                <hr class="d-none d-lg-block mb-0 mr-0" />
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="row justify-content-center no-gutters small-rev">



                <div class="col-lg-6 text-lg-right">
                    <div class=" text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right hide-on-init"
                                animateOnScroll animationName="animated fadeIn">
                                <h4>Hospital Management:</h4>
                                <p class="mb-0 text-black-50">

                                    A comprehensive package for small and medium hospitals, with the needed interfaces
                                    with
                                    medical equipment. The unique capability of this solution is the patient history
                                    being
                                    available on the cloud for doctors to refer even outside the hospital.
                                </p>
                                <hr class="d-none d-lg-block mb-0 mr-0" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 order-on-small"><img class="img-fluid"
                        src="https://miro.medium.com/max/2560/1*ylvdHtjWHGNndwmrVqyk-g.jpeg" alt="" /></div>


            </div>
            <div class="row justify-content-center no-gutters hide-on-init" animateOnScroll
                animationName="animated fadeIn">



                <div class="col-lg-6  "><img class="img-fluid"
                        src="https://www.kpsol.com/wp-content/uploads/2019/06/KPSOL-glossary-one.png" alt="" /></div>

                <div class="col-lg-6 text-lg-right">
                    <div class=" text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h4>Knowledge Management:</h4>
                                <p class="mb-0 text-black-50">
                                    Combination of collaboration and document management, on the cloud. Available in
                                    SaaS as
                                    well as private hosted models.
                                </p>
                                <hr class="d-none d-lg-block mb-0 mr-0" />
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="row justify-content-center no-gutters small-rev hide-on-init" animateOnScroll
                animationName="animated fadeIn">



                <div class="col-lg-6 text-lg-right">
                    <div class=" text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right hide-on-init"
                                animateOnScroll animationName="animated fadeIn">
                                <h4>Student Management:</h4>
                                <p class="mb-0 text-black-50">

                                    Student information and academic details being managed is a critical assignment,
                                    especially keeping in mind the student depends many years in an education
                                    institution.
                                    This solution provides the needed MIS for efficient and personalised learning
                                    teaching
                                    experience.

                                </p>
                                <hr class="d-none d-lg-block mb-0 mr-0" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 "><img class="img-fluid"
                        src="https://www.ittrainingnepal.com/public/blogs/19101762209student-management-system.jpg"
                        alt="" /></div>


            </div>


        </div>
    </section>
    <!-- Signup-->
    <section class="signup-section hide-on-init" animateOnScroll animationName="animated" id="signup">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto text-center">
                    <i class="fa fa-bell fa-2x mb-2 text-white"></i>
                    <h2 class="text-white mb-5 hide-on-init" animateOnScroll animationName="animated fadeIn">Subscribe
                        to receive updates!</h2>
                    <form class="form-inline d-flex">
                        <input class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" type="email"
                            placeholder="Enter email address..." />
                        <button class="btn btn-primary mx-auto" type="submit">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact-->
    <app-footer></app-footer>


</div>