<section class="contact-section bg-black">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3 mb-md-0 hide-on-init" animateOnScroll animationName="animated fadeIn">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fa fa-map-marker text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Address</h4>
                        <hr class="my-4" />
                        <div class="small text-black-50"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0 hide-on-init" animateOnScroll animationName="animated fadeIn">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fa fa-envelope-open text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Email</h4>
                        <hr class="my-4" />
                        <div class="small text-black-50"><a href="#!">sales@myzachs.com</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0 hide-on-init" animateOnScroll animationName="animated fadeIn">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fa fa-mobile text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Phone</h4>
                        <hr class="my-4" />
                        <div class="small text-black-50">91xxxxxx</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social d-flex justify-content-center">

            <a class="mx-2" href="#!"><i class="fa fa-twitter-square"></i></a>
            <a class="mx-2" href="#!"><i class="fa fa-facebook-square"></i></a>
            <a class="mx-2" href="#!"><i class="fa fa-instagram"></i></a>
            <a class="mx-2" href="#!"><i class="fa fa-linkedin-square"></i></a>
        </div>
    </div>
</section>