

    <nav [class.background-blue]="showNav" #mainNav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger hide-on-init" animateOnScroll animationName="animated fadeIn" href="#page-top">Zachs</a>
            
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger hide-on-init" animateOnScroll animationName="animated fadeIn" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger hide-on-init" animateOnScroll animationName="animated fadeIn" href="#projects">Home</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger hide-on-init" animateOnScroll animationName="animated fadeIn" href="#signup">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead hide-on-init" animateOnScroll animationName="animated fadeIn">
        <!-- <header class="masthead"> -->
        <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
    </video>
    <!-- <header class="masthead"> -->
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 hide-on-init" animateOnScroll animationName="animated fadeIn">Hello, We are ZACHS</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5 hide-on-init" animateOnScroll animationName="animated fadeIn">Founded in 2015,</h2>
                <a class="btn btn-primary js-scroll-trigger hide-on-init" animateOnScroll animationName="animated fadeIn" href="#about">Get Started</a>
            </div>
        </div>
    <!-- </header> -->
    </header>
    <!-- <p>
       
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Button with data-target
        </button>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
      </div> -->